.indiFolder Link {
    text-decoration: none;
    color: white;
}

.indiFolder Link:hover {
    cursor: pointer;
}

.indiFolder Link:visited {
    color: white;
    text-decoration: none;
}


.folders_Main {
    background-color: rgb(175, 175, 175);
    height: 90vh;
    width: 30%;
    position: absolute;
    text-align: center;
    padding: 20px 20px;
    border-right: solid 2px grey;
    border-top: solid 2px grey;
}

.folders_Main a {
    color: white;
    text-decoration: none;
    display: block; 
}

.folders_Main a:visited {
  color: white;
  text-decoration: none;
}

.folders_Main ul {
    list-style: none;
    text-decoration: none;
}

.folders_Main li {
    color: white;
    list-style: none;
    text-decoration: none;
    margin-top: 25px;
    background-color: rgb(85, 85, 85);
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.selected-folder {
    background-color: lightblue!important;
}